################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/ECommerce/bin/Debug/net8.0
/backend/ECommerce/.vs
/.vs
/backend/ECommerce/obj
/frontend/ecommerece-web/.vs
