<div class="container mt-4">
  <button class="btn btn-secondary mb-3" (click)="goBack()">Back to Product List</button>

  <div *ngIf="product">
    <h2>{{ product.name }}</h2>
    <img [src]="product.imageUrl" class="img-fluid" alt="{{ product.name }}">
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Price:</strong> {{ product.price | currency }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    <p><strong>Brand:</strong> {{ product.brand }}</p>
  </div>
</div>
